@model IEnumerable<FilmApp.Models.film>

@{
    ViewData["Title"] = "Filmovi";
}

<h1>Filmovi</h1>

<p>
    <a asp-action="Create">Kreiraj novi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zanr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Glumac)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zanr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Glumac.Naziv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
